@font-face {
  font-family: 'PressStart2P';
  font-weight: 400;
  src: url('PressStart2P-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Variable';
  font-weight: 400 700;
  src: url('Inter-Variable.woff2') format('woff2');
  font-display: swap;
}
