/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0 auto;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  max-block-size: 1440px;
  max-inline-size: 700px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: var(--main-font-size);
  background: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding: clamp(120px, 0.751vw + 7.324rem, 128px) clamp(14px, 10.141vw - 1.502rem, 120.5px);
  block-size: clamp(327px, 3.85vw + 19.535rem, 368px);
  inline-size: 100%;
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
}

.bordered {
  border: var(--element-border);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--title-font-weight);
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-end: 103px;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card__image_wrapper {
  position: relative;
  align-self: center;
  inline-size: 100%;
  block-size: clamp(375px, 30.516vw + 16.285rem, 700px);
  border-block-start: none;
  border-block-end: none;
}

.card__label {
  font-family: var(--accent-font), fantasy;
  position: absolute;
  font-size: 14px;
  inset-block-start: 25px;
  inset-inline-end: clamp(13px, 1.127vw + 0.548rem, 25px);
  text-shadow: #fff 0 0 1px;
  -webkit-text-stroke: 1px var(--outline-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  @supports (text-stroke: 1px var(--outline-color)) {
    text-stroke: 1px var(--outline-color);
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  min-block-size: 228px;
}

.card__text {
  line-height: 117%;
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  block-size: 38px;
  gap: 5px;
  align-self: end;
}

.card__icon-button {
  border: 2px solid transparent;
  block-size: 100%;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--element-border);
}

.card__icon-button:focus {
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: #fff;
}

.like-icon #sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 100%;
  transition: box-shadow 0.3s ease;
  background-color: var(--button-backround-color);
}

.save_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  inline-size: 335px;
  block-size: 55px;
  background-color: var(--button-backround-color);
  transition: box-shadow 0.3s ease;
}

.modal {
  position: absolute;
  inset: 0;
  background-color: #fff;
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
}

.save_button svg{
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: var(--button-backround-color);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__content {
  display: flex;
  gap: 20px;
  align-items: center;
  inline-size: 100%;
}

.modal__content svg {
  flex-shrink: 0;
  display: block;
  width: 39px;
  height: 39px;
}

.modal__button {
  position: relative;
  inline-size: 100%;
  block-size: 38px;
  transition: box-shadow 0.3s ease;
  background-color: var(--button-backround-color);
}

.modal .button__text {
  text-transform: uppercase;
  line-height: 150%;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.card__like-button:focus,
.save_button:focus,
.modal__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.card__like-button::before,
.save_button::before,
.modal__button::before {
  content: '';
  position: absolute;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save_button:hover::before,
.modal__button:hover::before {
  transform: scaleX(1);
}

@media (max-width: 375px) {
 .save_button {
   flex-direction: column;
   inline-size: 306px;
   block-size: 80px;
 }
  .save_button svg{
    width: 28px;
    height: 28px;
  }

  .modal {
    inline-size: 341px;
    block-size: 191px;
  }
}